.button {
    background-color: white;
    color: black;
    border: 2px solid #f44336; 
    transition-duration: 0.4s;
    border-radius: 12px;
}
  
.button:hover {
    background-color: #f44336; 
    color: white;
}

.reddo {
    color: #f44336;
}

.bluo {
    color: #008CBA;
}


body {
    text-align: center;
}

canvas {
    border:1px solid #000000;
    padding: 1%;
}

footer {
    text-align: right;
    
}

img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
}